<div
  class="example-container"
  [class.example-is-mobile]="mobileQuery.matches"
>
  <mat-toolbar
    color="primary"
    class="example-toolbar"
  >
    <button
      mat-icon-button
      (click)="snav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">svadobne.menu</h1>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      [opened]="true"
    >
      <form class="example-form">

        <mat-form-field>
          <input
            matInput
            placeholder="Kde?"
          >
        </mat-form-field>

        <div class="dx-field-label">Počet ľudí</div>
        <div class="dx-field">
          <div class="dx-field-value">
            <dx-range-slider
              [min]="10"
              [max]="300"
              [start]="30"
              [end]="100"
              [step]="5"
              [tooltip]="{showMode: 'always', enabled: true, position: 'bottom'}"
            ></dx-range-slider>
          </div>
        </div>

        <div class="dx-field-label">Cena/osoba (€)</div>
        <div class="dx-field">
          <div class="dx-field-value">
            <dx-range-slider
              [min]="20"
              [max]="100"
              [tooltip]="{showMode: 'always', enabled: true, position: 'bottom'}"
            ></dx-range-slider>
          </div>
        </div>

      </form>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content">
        <mat-card>Simple card</mat-card>
        <mat-card>Simple card</mat-card>
        <mat-card>Simple card</mat-card>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>